<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вход</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <form method="post">
        <input type="text" name="login" placeholder="Логин" class="form-input" required><br>
        <input type="password" name="password" placeholder="Пароль" class="form-input" required><br>
        <button type="submit" class="btn">Войти</button>
    </form>
    <a href="/register" style="font-size: 35px; display: inline-block; margin-top: 20px;">Нет аккаунта?</a>
</body>
</html>