<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Мои карточки</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>


<body>
    <h1 class="greeting">Здравствуй, {{ login }}!</h1>

    <div class="section">
        <h2>Мои карточки:</h2>
        <div class="sets-container">
            {% for card_set in card_sets %}
            <a href="/card_set/{{ card_set.id }}">
                <div class="set-card">
                    <img src="{{ card_set.image_path or '/static/img/sets/default_set.png' }}"
                         alt="{{ card_set.name }}"
                         class="set-image"
                         onerror="this.src='/static/img/sets/default_set.png'">
                    <div class="set-info">
                        <h3 class="set-name">{{ card_set.name }}</h3>
                    </div>
                </div>
            </a>
            {% else %}
            <p class="empty-message">У тебя пока нет карточек. Добавь готовый набор!</p>
            {% endfor %}
        </div>
    </div>

    <div class="section">
        <h2>Добавить карточки:</h2>
        <a href="/new_card" class="add-card">
            <img src="/static/img/plus.png" alt="Добавить карточки">
        </a>
    </div>
</body>
</html>