<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Мои карточки</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <h1 class="greeting">Здравствуй, {{ login }}!</h1>

    <div class="section">
        <h2>Мои карточки:</h2>
        {% if cards %}
            <ul class="card-list">
                {% for card in cards %}
                    <li>{{ card.word }} - {{ card.translation }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="empty">У тебя пока нет карточек. Добавь готовый набор или создай свои</p>
        {% endif %}
    </div>

    <div class="section">
        <h2>Добавить карточки:</h2>
        <a href="/new_card" class="add-card">
            <img src="/static/img/plus.png" alt="Добавить карточки">
        </a>
    </div>


    <div class="section">
        <h2>Мои тесты:</h2>
        {% if cards %}
            <ul class="card-list">
                {% for card in cards %}
                    <li>{{ card.word }} - {{ card.translation }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p class="empty">У тебя пока нет тестов. Добавь готовые или создай свои</p>
        {% endif %}
    </div>

    <div class="section">
        <h2>Добавить тесты:</h2>
        <a href="/new_card" class="add-card">
            <img src="/static/img/plus.png" alt="Добавить карточки">
        </a>
    </div>
</body>
</html>